.header {
  background-color: rgba(50, 54, 62, 1);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  color: #61dafb;
}

body {
  font-family: "Roboto";
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(50, 54, 62, 1);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #61dafb;
}
